<div id="container">
    <h1>Lista de Tarefas</h1>
        <h3>Pendentes</h3>
        <ul id="pendentes">
          <li *ngFor="let item of tarefas;">
            <input type="checkbox" name=checkbox (change)="executar(item)"><b>
            {{ item.descricao }} -
            <button type="button" class="btn btn-primary"(click)="excluir(item)">Excluir</button> - 
            <button type="button" class="btn btn-primary" (click)="editar(item)">Editar</button></b>
          </li>
        </ul>

        <h3>Executadas</h3>
        <ul id="completas">
            <li *ngFor="let item of executadas;">
            <input type="checkbox" name=checkbox checked ><b>
            {{ item.descricao }} -
            <button type="button" class="btn btn-primary"(click)="excluirExec(item)">Excluir</button></b>
          </li>
        </ul>

        <h3>Cadastrar Tarefa</h3>
        <form #cadastro="ngForm" (submit)="salvar()">
          <div>
            <label for="descricao">Descrição da Tarefa</label>
            <input id="descricao" name="descricao" [(ngModel)]="descricao" required>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!cadastro.valid">
            Salvar
          </button>
          <button type="reset" class="btn btn-primary"  (click)="cancelar()">cancelar</button>
        </form>

    </div>